---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ander Panera">
	<div></div>
</Layout>

<style>
	div {
		height: 100vh;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23fff' /%3E%3Crect x='50%' width='1' height='100%' fill='rgb(203 213 225)' /%3E%3Crect y='50%' width='100%' height='1' fill='rgb(203 213 225)' /%3E%3C/svg%3E%0A");
	}
</style>
