---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro/Intro.astro";
import AboutMe from "../components/AboutMe/AboutMe.astro"
---

<Layout title="Ander Panera">
	<div class="title">
		<span>Ander Panera.</span>
	</div>
	<div class="paper">
		<Intro />
		<AboutMe />
	</div>
</Layout>

<style>
	div {
		flex-shrink: 0;
	}

	.title {
		height: 100vh;
		width: calc(100vw - 15px);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.title > span {
		font-size: 10rem;
		font-family: sp;
	}

	.paper {
		height: 300vh;
		width: 1000px;
		background-color: aliceblue;
		border: solid 4px black;
		padding: 40px;
	}


</style>
