---

---

<div class="aboutme">
    <span class="title">About Me</span>
    <div class="p">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus asperiores ipsa alias, omnis assumenda unde deleniti quia error similique inventore pariatur, autem, dicta a sequi atque modi aliquam eum sint.
    </div>
    <div class="imagecont">
        <div class="image">
            <img src="https://d1ih8jugeo2m5m.cloudfront.net/2022/12/que-es-un-logo-lays.png" />
        </div>
    </div>
</div>

<style>
    .aboutme {
        font-family: sp;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
    }

    .title {
        font-size: 2rem;
    }

    .p {
        
    }

    
    .imagecont {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        width: 50%;
        aspect-ratio: 1/1;
        border: solid 2px black;
        box-shadow: 4px 4px 0px 0 black;
        display: flex;
        transform: rotate(-1deg) perspective(1000px);
    }

    .image>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
</style>